@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}

.container{
    background-color: black;
    
    /* background-size: cover;
    background-position: center; */
}
body{
    background: black;
}

header{
    height: 14vh;
    width: 100%;
    background-color:grey;
    background-size: cover;
    
}
nav{
    height: 14vh;
    width: 100%;
    background-size: cover;
    color: rgb(1, 7, 14);
    display: flex;
    justify-content: space-between;
    align-items: right;
    font-family: 'Dancing Script', cursive;
    font-size:xx-large;


}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 40px;
    position: relative;
    justify-content: space-between;
}
main{
    background: black;
    
}
.left-image {
    position: absolute;
    left: 0;
}
.right-image {
    position: absolute;
    right: 0;
}
footer{
    text-align: center;
    color:rgba(255, 247, 0, 0.979);
    font-size: xx-large;
}
.centertext{
    text-align: center;
    color:white;
    margin:0px;
    border:0px;
    padding:0px
}
